<eui-app [userInfos]="userInfos?.fullName" [userSubInfos]="userInfos.email">
    <eui-app-header>
        <eui-header>
            <eui-header-logo></eui-header-logo>
            <eui-header-app appName="EC API Catalogue"
                            appSubTitle="{{ 'app.subtitle' | translate }}">
            </eui-header-app>
            <eui-header-user-profile>
            </eui-header-user-profile>
        </eui-header>
    </eui-app-header>

    <eui-app-toolbar>
        <eui-toolbar>
        </eui-toolbar>
    </eui-app-toolbar>

    <eui-app-sidebar>
        <eui-app-sidebar-body>
            <eui-app-sidebar-menu [items]="sidebarItems"></eui-app-sidebar-menu>
        </eui-app-sidebar-body>
    </eui-app-sidebar>

    <eui-app-footer>
        <eui-footer>
            <p>
                &copy; {{ currentYear }} - European Commission - DIGIT.A4
            </p>
        </eui-footer>
    </eui-app-footer>
</eui-app>
