<eui-page>
    <eui-page-header label="{{ 'page.home.title' | translate }}"></eui-page-header>

    <eui-page-content>
        <h3 class="eui-u-font-bold eui-u-color-info">Overview</h3>

        <p>The <strong><a href="https://webgate.ec.europa.eu/fpfis/wikis/display/eUI" target="_blank" class="eui-u-text-link-external">eUI
                    Platform</a></strong> (eUI) is meant to ease development of <strong>Single Web Page
                Applications</strong> (SPAs) providing rich <strong>User Experience</strong> (UX) starting point
            to directly quick-start applications development.</p>

        <p>It's also focusing on rationalisation and implementation of <strong><a
                    href="https://webgate.ec.europa.eu/fpfis/wikis/display/Europa/User+experience"
                    target="_blank" class="eui-u-text-link-external">European Commission's User Experience</a></strong> (UX@EC) and the adoption
            of a common look and feel for your web applications.</p>

        <p>Thereby, the <strong>eUI framework</strong> provides guidelines and recommendations on
            <strong>collaborative and reusable web components</strong> in order to help
            to build common and homogeneous graphical web interfaces that reflects the <strong>European
                Commission Style Guides</strong> towards a corporate look and feel.
            It also offers consistency from User Experience point of view through various participant projects
            such as Opsys, MyWorkplace, Compass Corporate, Assmal, eProcurement, Sygma, Sedia, etc.</p>

        <p>The target audience goes from Developers who will find a lot of usefull technical information, but
            also Designers who want to reuse such materials to illustrate their work as well as Analysts and
            Managers to help them during conceptual phases.</p>

        <p>Feel free to participate and help to improve the eUI platform.</p>
        <p>Contact us at <strong><a
                    href="mailto:DIGIT-EUI-SUPPORT@ec.europa.eu" class="eui-u-text-link">DIGIT-EUI-SUPPORT@ec.europa.eu</a></strong> and
            join us on MS Teams : <a href="https://teams.microsoft.com/l/team/19%3a2f5bb6b7d1e24c4aabaa62229d3e1955%40thread.tacv2/conversations?groupId=fb6def72-c57b-4e8f-a82e-49be65d6e1f5&tenantId=b24c8b06-522c-46fe-9080-70926f8dddb1" target="_blank"  class="eui-u-text-link-external">
                MS Teams EC_eUI team
            </a>
        </p>

        <div>
            <strong>The eUI Team</strong>
        </div>

    </eui-page-content>
</eui-page>
